<!-- 
<%=versionText%> 
-->

<div id="<%= modulePart %>-head">
	<div id="<%= modulePart %>-head-title" class="section-detil-title"></div>
	<div id="<%= modulePart %>-head-descr" class="section-detil-descr"></div>
</div>


<table id="<%= modulePart %>-tbl" fgta5-component="Gridview">
	<thead>
		<tr data-header key="<%= section.primaryKey %>">
			<th rowselector></th><% fields.forEach(field => { %>
			<th data-name="<%= field.dataName %>" binding="<%= field.binding %>" <%- field.additionalAttributes %>><%= field.label %></th><% }); %>
		</tr>
	</thead>
</table>

<div id="<%= modulePart %>-foot">

</div>

<div class="footer-buttons-container hidden">
	<div></div>
	<div style="display: flex; column-gap: 5px; align-items: center;">
		<button id="<%=modulePart%>-btn_addrow" data-action="<%= moduleSection %>-addrow" data-sectionsource="<%=modulePart%>-section" class="action-button button-rowadd">
			<span class="action-button-icon">
				<img src="public/icons/button-rowadd.svg">
			</span>
			<span class="action-button-text">Add</span>	
		</button>
		<button id="<%=modulePart%>-btn_delrow" class="action-button button-rowremove">
			<span class="action-button-icon">
				<img src="public/icons/button-rowremove.svg">
			</span>
			<span class="action-button-text">Remove</span>	
		</button>
	</div>
	<div></div>
</div>