<% sections.forEach(section => { %><section id="<%= section.sectionElementId %>" class="fgta5-carousell" data-title="<%= section.sectionTitle %>">
<%- '<' %>%- include(`${moduleDir}/<%= section.sectionName %>.html`) %<%- '>' %>
</section>

<% }) %>

<section id="<%= moduleName %>FRecord-section" class="fgta5-carousell" data-title="Record Status">
</section>

<section id="<%= moduleName %>FLogs-section" class="fgta5-carousell" data-title="Logs">
</section>

<section id="<%= moduleName %>FAbout-section" class="fgta5-carousell" data-title="About">	
</section>


