<% sections.forEach(section => { %><section id="<%= section.sectionElementId %>" class="fgta5-carousell" data-title="<%= section.sectionTitle %>">
<%- '<' %>%- include(`${moduleDir}/<%= section.sectionName %>.html`) %<%- '>' %>
</section>

<% }) %>

<section id="fRecord-section" class="fgta5-carousell" data-title="Record Status">
</section>

<section id="fLogs-section" class="fgta5-carousell" data-title="Logs">
</section>

<section id="fAbout-section" class="fgta5-carousell" data-title="About">	
</section>


