<!DOCTYPE html>
<html>
	<head>
		<title>ERROR: <%= moduleName %></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body>
		<h1><%= status %> <%= statusText %></h1>
		<div>
			 <%- message %>
		</div>
		<hr>
		code: <%= code %>
	</body>	
</html>